.main {
	/* initially hide main area to fade it in */
	display: none;

	text-align: center;

	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

	width: 1250px;
	/*max-width: 100%;*/
}

@media (max-width: 1250px) {
	.main {
		width: 100%;
	}
}

#tracks {
	width: 100%;

	/*display: inline-flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;*/

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6cm, 1fr));
	grid-auto-rows: 0fr;
}

#tracks::before {
	content: '';
	width: 0;
	padding-bottom: 100%;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

#tracks > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.track {
	margin: 4px;

    background-image: none;
    background-position: center;
    background-size: cover;

    background-color: aliceblue;

	border-width: 1px;
	padding: 10px;

    border-color: rgb(34, 34, 34);
	border-style: solid;
	
	cursor: pointer;
}

@media (max-device-width: 1250px) {
	#tracks {
		grid-template-columns: repeat(auto-fill, minmax(5cm, 1fr));
	}
}

/* keep them squared */
.track:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
