#playerStickyFooter {
	width: 100%;
	height: 120px;
	background-color: #1f1f1f;

	position: fixed;
	bottom: 0;

	/* z-index */
}

#playerArea {
	width: 800px;

	height: 80%;

	display: inline-flex;

	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
	#playerArea {
		width: 100%;
	}
}

@media (max-device-width: 1000px) {
	#playerStickyFooter {
		/*height: 5cm;*/
	}
	
	#playerArea {
		width: 100%;
	}
}

#play {
	object-fit: contain;

	cursor: pointer;
}

#trackMetaAndTimeline {
	margin-left: 10px;
	margin-right: 10px;

	display: flex;

	flex-direction: column;
	text-align: left;
}

#trackMeta {
	/*width: 100%;*/
	height: 35%;

	margin-left: 10px;

	font-size: 85%;
}

.trackMeta {
	display: inline-flex;
}

#timeline {
	width: 100%;
	height: 65%;

	position: relative;
}

#timelineWaveform {
	image-rendering: pixelated;
	filter: blur(.4px);

	width: 100%;
	height: 100%;
	object-fit: fill;
}

#timelineMarker {
	width: 2px;
	height: 100%;

	position: absolute;
	top: 50%;
	left: 0;

	z-index: 1000;
}

#timelineMarkerContent {
	width: 100%;
	height: 100%;

	/*background-color: #cc6600;*/
	background-color: #b35900;

	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#volumeSlider {
	display: hidden;
}
